# Python cache dan compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Hasil scan / log
hasil_scan.txt
hasil_scan.json
subnet_history.txt

# IDE / editor files
.vscode/
.idea/

# Misc
*.log
